@page
@using Core.Services.Interfaces;
@inject IStoreService _storeService
@model IndexModel
@{
    ViewData["Title"] = "فروشگاه اینترنتی عصاره طبیعت";
}
@section CssRefs{
    <link rel="stylesheet" href="/Layout/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Layout/css/animate.min.css">
    <link rel="stylesheet" href="/Layout/css/magnific-popup.css">
    <link rel="stylesheet" href="/Layout/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/Layout/css/jquery-ui.css">
    <link rel="stylesheet" href="/Layout/css/flaticon.css">
    <link rel="stylesheet" href="/Layout/css/aos.css">
    <link rel="stylesheet" href="/Layout/css/slick.css">
    <link rel="stylesheet" href="/Layout/css/default.css">
    <link rel="stylesheet" href="/Layout/css/style.css">
    <link rel="stylesheet" href="/Layout/css/responsive.css">
    <link rel=“canonical” href="https://osaremarket.ir" />
}
@section Header{
    @if (string.IsNullOrEmpty(Model.Search))
    {
        @await Component.InvokeAsync("HeaderComponent")
    }
    else
    {
        @await Component.InvokeAsync("HeaderComponent",new{Srch=Model.Search, GName=Model.GroupName})
    }

    }
@section Nav{
    @await Component.InvokeAsync("MenuComponent")
    }
<main>
    @if (string.IsNullOrEmpty(Model.Search))
    {
        <!-- slider-area -->
        @await Component.InvokeAsync("SliderComponent")
        <!-- slider-area-end -->
        <!-- Category-area -->
        @await Component.InvokeAsync("CategoryComponent")
        <!-- Category-area-end -->
        <!-- discount-area -->
        @await Component.InvokeAsync("PageBannerComponent", new {Bannercount = 3 , Vieworder = 1})
        <!-- discount-area-end -->
        @await Component.InvokeAsync("BestDealComponent")
        <!-- special-products-area -->
        @if (Model.ExistSpecialProducts)
        {
            <!--محصولات ویژه-->
            @await Component.InvokeAsync("SpecialProductComponent")
        }

        <!-- special-products-area-end -->
        <!-- coupon-area -->
        @await Component.InvokeAsync("PageBannerComponent", new {Bannercount = 1 , Vieworder = 1})
        <!-- coupon-area-end -->
        <!-- best-sellers-area -->
        <!--پرفروش ترینها-->
        @if (Model.ExistBestSellProducts)
        {
            @await Component.InvokeAsync("BestSellerComponent")
        }

        <!-- best-sellers-area-end -->
        <!-- discount-area -->
        @await Component.InvokeAsync("PageBannerComponent", new {Bannercount = 2 , Vieworder = 1})
        <!-- blog-area -->
        @await Component.InvokeAsync("LastBlogsComponent")
        <!-- blog-area-end -->
    }
    else
    {
        <div class="container-fluid">
            @if (Model.Products != null)
            {
                if (Model.Products.Count != 0)
                {
                    <h4 class="text-center mt-30 alert alert-info">جستجو بر اساس @Model.Search در @Model.GroupTitle</h4>
                    <div class="shop-products-wrap">
                        <div class="row justify-content-center">
                            @foreach (var pr in Model.Products!.ToList())
                            {
                                (int price, int netPrice, int discount, int percent, string comment) = await _storeService.GetNetPriceandDiscountOfProductAsync(pr.Id);
                                bool exist = await _storeService.ExistProductInWareHouseAsync(pr.Id);
                                <div class="col-xs-2">
                                    <div class="sp-product-item mb-20">
                                        <div class="sp-product-thumb">
                                            @if (percent != 0)
                                            {
                                                <span class="batch discount">@percent %</span>
                                            }
                                            @if (!string.IsNullOrEmpty(pr.Label))
                                            {
                                                <span class="batch-label zlabel">@pr.Label</span>
                                            }
                                            <a href="/shop/d/@pr.EnName"><img src="/images/products/@pr.SmallImage1" alt="@pr.Name"></a>
                                        </div>
                                        <div class="sp-product-content">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                            <h6 class="title"><a href="/shop/d/@pr.EnName">@pr.Name</a></h6>
                                            @if (exist)
                                            {
                                                <span class="product-status">موجود در انبار</span>
                                            }
                                            else
                                            {
                                                <span class="product-status-danger">پایان موجودی</span>
                                            }
                                            <p class="mt-2">@netPrice.ToString("N0") &ensp; @Model.Currency</p>
                                            <div class="sp-cart-wrap">
                                                <a href="/shop/d/@pr.EnName" class="btn  rounded">مشاهده</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                }
                else
                {
                    <h5 class="text-center alert alert-danger mt-5 mb-5">محصولی یافت نشد !</h5>
                }
            }
            else
            {
                <h5 class="text-center alert alert-danger mt-5 mb-5">محصولی یافت نشد !</h5>
            }
        </div>

    }


</main>
<input type="hidden" id="savecell" value="@TempData["SaveCell"]?.ToString()" />
<input type="hidden" id="mess" value="@TempData["Message"]?.ToString()" />
@section Footer{
    @await Component.InvokeAsync("FooterComponent")
    }
@section JsRefs{
    <script src="~/Layout/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/Layout/js/bootstrap.min.js"></script>
    <script src="~/Layout/js/isotope.pkgd.min.js"></script>
    <script src="~/Layout/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Layout/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Layout/js/jquery.countdown.min.js"></script>
    <script src="~/Layout/js/jquery-ui.min.js"></script>
    <script src="~/Layout/js/slick.min.js"></script>
    <script src="~/Layout/js/ajax-form.js"></script>
    <script src="~/Layout/js/wow.min.js"></script>
    <script src="~/Layout/js/aos.js"></script>
    <script src="~/Layout/js/plugins.js"></script>
    <script src="~/Layout/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            var sacell = $("#savecell").val();
            var mess = $("#mess").val()
            if (sacell != "") {
                Swal.fire('تلفن همراه وارد شده ثبت شد !');
            }
            else {
                if (mess != "") {
                    Swal.fire(mess);
                }
            }
        });
    </script>


    }