@model IEnumerable<DataLayer.Entities.Store.DiscountCoupen>

@{
    ViewData["Title"] = "کوپن های تخفیف";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">کوپن های تخفیف</h1>

<p>
    <a asp-action="Create" class="btn btn-success">ثبت کوپن</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th class="text-xs-center align-middle">
                @Html.DisplayNameFor(model => model.Percent)
            </th>

            <th class="text-xs-center align-middle">عملیات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td class="text-xs-center align-middle">
                    @Html.DisplayFor(modelItem => item.Percent)
                </td>

                <td class="text-xs-center align-middle">
                    <a asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> <span>|</span>
                    <a asp-action="Details" asp-route-id="@item.Id">جزئیات</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.Id">حــذف</a>
                </td>
            </tr>
        }
    </tbody>
</table>
