@model DataLayer.Entities.Store.Status

@{
    ViewData["Title"] = "جزئیات وضعیت سفارش";
    Layout = "~/Areas/UsersPanel/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-xs-center alert alert-info">جزئیات وضعیت سفارش</h1>

<div class="container-fluid">
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEndofProccess)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEndofProccess)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">ویرایش</a> |
    <a asp-action="Index">بازگشت</a>
</div>
